{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
        [
            "@wordpress/babel-plugin-makepot",
            { "output": "languages/wp-301-redirects.pot" }
        ]
    ]
}